In [3]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv(r"/home/siddharth/Downloads/Fraud.csv")
data_copy = data.copy()
data_copy.tail(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [5]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [6]:
data_copy.sample(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
705502,37,CASH_IN,159878.46,C162700586,32795.00,192673.46,C1635510679,0.00,0.00,0,0
2431380,202,TRANSFER,420182.16,C1864395695,33184.00,0.00,C1495169965,809984.32,1230166.48,0,0
5135636,356,CASH_IN,66379.55,C576685036,7931050.14,7997429.69,C391328519,5242057.00,5175677.44,0,0
1411742,139,PAYMENT,35755.85,C1645751662,1978.00,0.00,M2022562607,0.00,0.00,0,0
3486354,258,CASH_IN,75931.59,C225833851,21803983.73,21879915.32,C920094050,7561918.96,7485987.37,0,0
5173794,358,PAYMENT,17489.25,C1858930843,0.00,0.00,M1925619438,0.00,0.00,0,0
3330178,253,CASH_IN,184628.96,C240087349,4421812.58,4606441.54,C1246191011,302300.75,117671.79,0,0
4411557,322,CASH_OUT,77992.68,C1059478162,188678.19,110685.51,C629643301,1007650.39,1085643.07,0,0
2331578,188,CASH_OUT,431094.87,C410240433,628.00,0.00,C254004306,0.00,431094.87,0,0
5920062,404,PAYMENT,20529.34,C1754619082,0.00,0.00,M1799508202,0.00,0.00,0,0

In [9]:
data_copy.shape

(6362620, 11)

In [10]:
data_copy.isna().sum()  # check if there are any null values in the dataset

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [11]:
data_copy.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [12]:
data_copy.isFlaggedFraud.value_counts()

isFlaggedFraud
0    6362604
1         16
Name: count, dtype: int64

In [13]:
data_copy = data_copy.drop(["nameOrig","nameDest"], axis = 1)

In [14]:
data_copy

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1,0
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [17]:
from sklearn import preprocessing
label_encoding = preprocessing.LabelEncoder()
data_copy['type'] = label_encoding.fit_transform(data_copy['type'])

In [18]:
x, y = data_copy.loc[:, data_copy.columns != 'isFraud'], data_copy['isFraud']

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 50)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

import gaussian naive base model

In [21]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred = gnb.predict(x_test)
acc = metrics.accuracy_score(y_test,y_pred)
print(acc*100)

99.59142617349457