In [60]:
import numpy as np
import pandas as pd

In [61]:
data = pd.read_csv(r"C:\Users\asus.pc\Downloads\Fraud.csv")
data_copy = data.copy()
data_copy.tail(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [62]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [63]:
data_copy.sample(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5297289,373,CASH_OUT,301930.10,C541638933,0.00,0.00,C919954952,2455712.13,2757642.24,0,0
2650482,209,PAYMENT,9701.41,C1885851602,6113.00,0.00,M1765344043,0.00,0.00,0,0
5541300,382,CASH_OUT,91699.97,C1411073233,6006.00,0.00,C616367401,3564735.99,3656435.96,0,0
43232,9,CASH_IN,110034.55,C1642502866,5739243.47,5849278.02,C736709391,1093826.05,983791.50,0,0
1714514,160,CASH_OUT,149046.99,C1834322220,398.00,0.00,C777353447,2252946.69,2401993.68,0,0
838930,41,CASH_OUT,302678.48,C1434061025,0.00,0.00,C2109097173,3447753.27,3750431.75,0,0
2492689,204,CASH_IN,99088.81,C1173624916,7372.00,106460.81,C867723070,80705.01,326182.35,0,0
2272144,187,CASH_IN,131238.55,C353105397,6367750.26,6498988.82,C1043266792,147727.45,16488.89,0,0
1477818,141,CASH_IN,330564.35,C250641567,5425014.76,5755579.11,C1884167276,522863.59,192299.24,0,0
3146166,236,PAYMENT,759.53,C1817100811,56631.00,55871.47,M1970882640,0.00,0.00,0,0

In [64]:
data_copy.shape

(6362620, 11)

In [65]:
data_copy.isna().sum()  # check if there are any null values in the dataset

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [66]:
data_copy.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [67]:
data_copy.isFlaggedFraud.value_counts()

isFlaggedFraud
0    6362604
1         16
Name: count, dtype: int64

In [70]:
data_copy = data_copy.drop(["nameOrig","nameDest"], axis = 1)

In [71]:
data_copy

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1,0
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1,0

In [72]:
from sklearn import preprocessing
label_encoding = preprocessing.LabelEncoder()
data_copy['type'] = label_encoding.fit_transform(data_copy['type'])

In [73]:
x, y = data_copy.loc[:, data_copy.columns != 'isFraud'], data_copy['isFraud']

In [79]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 50)

In [80]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

import gaussian naive base model

In [81]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
gnb = GaussianNB()
gnb.fit(x_train, y_train)
y_pred = gnb.predict(x_test)
print('Accuracy: ', metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.9960087196783715

# Answers

## 1. Data cleaning including missing values, outliers and multi-collinearity.
 Data is cleaned using .isna().sum() function that returns the total number of missing values in a dataset, in our case there were none..y work?

## 2. Describe your fraud detection model in elaboration.
The classifier Logistic Regression is trained using the given dataset to learn about the patterns.
The model is then used to make predictions on the test dataset and the accuracy is calculated.

## 3. How did you select variables to be included in the model?
The variables that are most appropriate in the training of the model, hence the "nameOrig" and "nameDest" are dropped.
The variable "type" is then encoded using preprocessing.LabelEncoder() from the sklearn library.

## 4. Demonstrate the performance of the model by using best set of tools.
The performance of the model is determined by using the metrics.accuracy_score().

## 5. What are the key factors that predict fraudulent customer?
Key factors can be "type", "amount". 
Key factors are the features of that the model finds most influential in deciding whether the transaction is fraud or not.

## 6. Do these factors make sense? If yes, How? If not, How not?
The factors such as "type" and "amount" do make sense as we can compare the previous transactions of the user and can confirm if the tranction made is normal or not, if not we can flag it as fraud.

## 7. What kind of prevention should be adopted while company update its infrastructure?
Some of the prevention methods that can be adopted are: 
1. Monitoring the transactions in real time, those transactions can be made priority that are unusual or transaction of higher amounts.
2. Authentication to make transactions can be increased.
3. Setting transaction limits.
4. Spreading awareness about fraud transactions

## 8. Assuming these actions have been implemented, how would you determine if they work?
1. We can use the accuracy test for the predicted transactions and continuously upgrage our model towards better accuracy.
2. We can ask for feedback from users.